<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <div style="float: left;"><img src="media/abacus-header.png"/></div>
      <div style="float: left; padding: 0 0 20px 20px;"><h3 class="project-tagline"><b>{{ page.title | default: site.title | default: site.github.repository_name }}:</b> {{ page.description | default: site.description | default: site.github.project_tagline }}</h3>
      </div>
      <div style="clear: both;"> <a href="index.html">Home</a> | <a href="user-guide.html">User guide</a> | <a href="collection-policy.html">Collection policy</a> | <a href="privacy.html">Privacy Policy</a> | <a href="metadata-guide.html">Metadata guide</a>
      </div>
        
    </header>

    <main id="content" class="main-content" role="main">

      {{ content }}

      <footer class="site-footer">
        Return to <a href="https://soroban.library.ubc.ca">Abacus Data Network</a>
      </footer>
    </main>
  </body>
</html>
